.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    transition-duration: 0.5s;
    border: none;
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.btn__reservation {
    width: 218px;
    height: 50px;
}