
/*** base card *****/
.card {
    display:flex;
    align-items: center;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    width: 90%;
    img {
        width: 100%;
        height: 100%;
    }
    }

    /*** card for the restaurants menus *****/
    .card-dish {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 15px;
        width: 100%;
        height: 69px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.5s ease-in 0s;

        /*** animations dish cards for menus *****/
        opacity: 0;
        overflow: hidden;
        animation: fadeIn linear 1s;
        animation-fill-mode: forwards;

        /**** animation for the fade in *****/
        @keyframes fadeIn{
            0%{
                
                opacity: 0;
            }
            100%{
                opacity:1;
            }
        }
        /**** rest of the card *****/
        .price p{
            position: relative;
            margin-bottom: -20px;
        }
        .card-dish-content{
            display: flex;
            justify-content: space-around;
            align-items: baseline;
            flex-direction: column;
            white-space: nowrap;
            width: 70%;
            padding: 17px 0px 17px 15px;
            gap: 5px;
            h3, p{
                margin: 0px 0px;
            }
        }
        .dish-check{
            transition: 100ms ease;
            visibility: hidden;
            width: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 15px;
        }
        .check{
            overflow: hidden;
            display: block;
            position: relative;
            border-radius: 50%;
            text-align: center;
            width: 18px;
            height: 17px;
            padding: 5px;
            background-color: white;
            color: #99E2D0;
        }
        .check-box{
            position: relative;
            transition: 0.5s ease;
            height: 100%;
            width: 56px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #99E2D0;
            border-radius: 0px 15px 15px 0px;
        }
        .selection {
            transition: all 400ms ease 0s;
            position: relative;
            overflow: hidden;
            width: 25%;
            right: -15%;
            white-space: nowrap;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 9px;
        }
    }
    /*** Childrens for the fade in animations *****/
    .card-dish:nth-child(2){
        animation-delay: 200ms;
    }
    
    .card-dish:nth-child(3){
        animation-delay: 400ms;
    }

    .card-dish:nth-child(4){
        animation-delay: 600ms;
    }

    /*** selection hover animation *****/
    .card-dish:hover{
        .card-dish{
            padding-right: 0px;
        }

        .content{
            text-overflow: ellipsis;
            overflow: hidden;
            width: 230px;
        }
        .check{
            overflow: hidden;
        }
        .check-box{
            overflow: hidden;
            visibility: visible;
            position: relative;
            right: 0px;
        }
        .price p{
            position: relative;
            right: 0px;
        }
        .selection{
            right: 0px;
        }
    }
    
    /*** card for the index functions explanations *****/
    .card__function {
        display: flex;
        width: 80%;
        height: 70px;
        gap: 9%;
        background-color: #F6F6F6;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        .number{
            position: relative;
            left: -16px;
            border-radius: 50%;
            text-align: center;
            width: 18px;
            height: 17px;
            padding: 5px;
            background-color: #9356DC;
            color: white;
            margin-right: -22px;
        }
    }
    .card__function:hover{
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
        .fa-mobile-screen-button, .fa-list-ul, .fa-store{
            color: #9356DC;
        }
    }

    /*** card for main page restaurants selection *****/
    .card__restaurant {
        height: 251px;
        flex-direction: column;
        padding: 0px;
        .new-menu{
            position: relative;
            left: 36%;
            bottom: 54%;
            margin-top: -28px;
            width: 80px;
            height: 29px;
            text-align: center;
            vertical-align: middle;
            line-height: 29px;
            background-color: #99E2D0;
            color: #008766;
            p{
                margin: 0px;
            }
        }
        .restaurants-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            height: 25%;
            .card-txt {
            .card-title {
                margin-bottom: 4px;
            }
            .card-subtitle{
                margin-top: 4px;
            }
        }  
        .heart{
            height: 25px;
            background:  linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%)bottom, white;
            /*** change the color of the heart by replacing the grey by the linear color from the bottom *****/

            transition: background-size 0.5s ease-in;
            background-size: 100% 0%;
            background-repeat:no-repeat;
        }
            .heart:hover{
                background-size: 100% 100%;
          }
        }
        .border-round {
        border-radius: 20px 20px 0px 0px;
        width: 100%;
        height: 75%;
        }
    }

    @media (min-width: 768px) {
        .card__restaurant{
            width: 40%;
        }

        .card-dish{
            .selection{
                justify-content: space-between;
                width: 20%;
                right: -10%;
                gap: 12px;
            }
        }
        .card-dish:hover{
            .content{
                width: 400px;
            }

        }
    }