/*** Import all SASS files *****/
@import 'button';
@import 'card';
@import 'variables';
@import 'mixins';

@media (max-width: 768px) {

}
/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}

.main-container {
    display: flex;
    justify-content: space-between;
}

img {
    object-fit: cover;
}

.fa-heart{
    -webkit-text-stroke: 1px black; /* width and color */
    font-family: sans; 
    color:white;
}
/*** Control of the color of the Heart font on click *****/

#heartControl1, #heartControl2, #heartControl3, #heartControl4{
    display: none;
}
#heartControl1:checked + label {
    .fa-heart{
        transition: 1s;
        color:rgba(147,86,220,1) ;
    }
}
#heartControl2:checked + label {
    .fa-heart{
        transition: 1s;
        color:rgba(147,86,220,1) ;
    }
}
#heartControl3:checked + label {
    .fa-heart{
        transition: 1s;
        color:rgba(147,86,220,1) ;
    }
}
#heartControl4:checked + label {
    .fa-heart{
        transition: 1s;
        color:rgba(147,86,220,1) ;
    }
}

.fa-store{
    color: rgba(147,86,220,1);
}
/*** Header *****/
header {
    width: 100%;
    @include flex-center;
}

.navbar {
    @include flex-center;
    width: 100%;
    margin: auto;
    box-shadow: 0px 10px 5px -5px rgba(0,0,0,0.1);
    position: relative;
    .arrow {
    position: absolute;
    font-size: 20px;
    top: 29px; left: 30px;
 }
    .logo img {
    height: 40px;
    padding-top: 17px;
    padding-bottom: 13px;
}
}
/*** Index location finder *****/

.location {
    background-color: #EAEAEA;
    @include flex-center;
    .content {
    @include flex-center;
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 15px;
    }
}
/*** Index Reservation part  *****/

.reservation {
background-color: $color-secondary;
width: 100%;
@include padding-top-bottom;

}

.reservation-content {
    @include flex-center;
    flex-wrap: wrap;
    align-content: flex-start;
    text-align: center;
    flex-direction: column;
    width: 85%;
    margin: auto;
    gap: 25px;
}
.reservation h2{
    font-weight: bold;
    font-size: 24px;
    margin: 0px;
}

.reservation p{
    font-size: 18px;
    margin: 0px;
}

/*** Index Functions *****/

.function {
    @include flex-center;
    @include padding-top-bottom;
    flex-direction: column;
}

.function-cards {
    @include flex-center;
    flex-direction: column;
    gap: 15px;
}
.function-title {
    padding-right: 200px;
}

/*** Index Restaurants *****/

.img-background {
    width:100%;
    img{
    width: 100%;
    background-size: cover;
    background-position: center;
}
}
.restaurants {
    @include flex-center;
    @include padding-top-bottom;
    flex-direction: column;
    background-color: $color-secondary;
    gap: 15px;
    padding-bottom: 50px;
}

.restaurants-title {
    padding-right: 50%;
}

/*** Specific restaurant menu *****/

.restaurant-menu {
    @include flex-center;
    flex-direction: column;
    background-color: $color-secondary;
    padding-bottom: 20px;
    .restaurant-designation{
        padding-bottom: 10px;
        .restaurant-name{
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: $color-secondary;
            margin: -60px auto auto auto;
            padding-top: 15px;
            height: 64px;
            z-index: 1;
            position: relative;
            border-radius: 26px;
            .fa-heart{
                color:$color-secondary;
            }
            h1{
             font-family: 'Shrikhand', cursive;
             font-style: italic;
             font-weight: 400;
             font-size: 38px;
            }
            .fa-heart {
            font-size: 30px;
            }
        }
    }
}

/*** Restaurants menu lists *****/

.menu-items {
    @include flex-center;
    flex-direction: column;
    gap: 15px;
    .list{
        @include flex-center;
        flex-direction: column;
        padding-bottom: 5px;
        gap: 15px;
        .items-txt{
            padding-right: 85%;
                p{  
                    padding-bottom: 5px;
                    margin-bottom: 0px;
                    width: 40px;
                    border-bottom: 1px solid $color-main;
                    border-bottom-width: 3px;
                }
        }
    }
}

/*** Footer *****/

footer {
    background-color: #353535;
    color: white;
    width: 100%;
    height: 200px;
    padding: 25px 0px 0px 20px ;
    .logo {
        width: 140px;
        padding-bottom: 25px;
        img{
            width: 100%;
            -webkit-filter:  invert(1);
            filter: invert(1);
        }
    }
}
.footer_links{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    gap: 10px;
    .bold{
        font-weight: bold;
        padding-left: 5px;
    }
}

}