@media (max-width: 768px) {
.card {
    display:flex;
    justify-content: baseline;
    align-items: center;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    padding: 4px;
    @include drop-shadow;
    .dish {
        width: 349px;
        height: 69px;
    }
    .function {
        width: 322.49px;
        height: 72.38px;
        background-color: #F6F6F6;
    }
    .restaurant {
        width: 340px;
        height: 251px;
    }
    }
}