/*** Import all SASS files *****/
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  transition-duration: 0.5s;
  border: none;
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.btn__reservation {
  width: 218px;
  height: 50px;
}

@media (max-width: 768px) {
  .card {
    display: flex;
    justify-content: baseline;
    align-items: center;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    padding: 4px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }
  .cad__dish {
    width: 349px;
    height: 69px;
  }
  .card__function {
    width: 320px;
    height: 70px;
    gap: 25px;
    padding-left: 30px;
    background-color: #F6F6F6;
  }
  .card__restaurant {
    width: 340px;
    height: 251px;
  }
}
/*** Colors *****/
/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
  body {
    margin: 0px;
    font-family: "Roboto", sans-serif;
  }
  a {
    text-decoration: none;
  }
  .main-container {
    display: flex;
    justify-content: space-between;
  }
  /*** Header *****/
  header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  .navbar .arrow {
    position: absolute;
    top: 30px;
    left: 25px;
  }
  .navbar .logo img {
    height: 40px;
    padding-top: 17px;
    padding-bottom: 13px;
  }
  /*** position *****/
  .location {
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .location .content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 15px;
  }
  /*** Reservation part  *****/
  .reservation {
    background-color: #F3F3F3;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .reservation-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    text-align: center;
    flex-direction: column;
    width: 85%;
    margin: auto;
    gap: 25px;
  }
  .reservation h2 {
    font-weight: bold;
    font-size: 24px;
    margin: 0px;
  }
  .reservation p {
    font-size: 18px;
    margin: 0px;
  }
  /*** Functions *****/
  .function {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .function-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
  }
  .function-title {
    padding-right: 200px;
  }
  /*** Menus *****/
  .img-background {
    width: 100%;
  }
  .img-background img {
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  .restaurants {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}/*# sourceMappingURL=style.css.map */