/*** Import all SASS files *****/ /*** Base for all buttons *****/
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background-image: linear-gradient(0deg, rgb(147, 86, 220) -11.44%, rgb(255, 121, 218) 123.93%);
  border: none;
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  font-size: 16px;
}

.btn:hover {
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9) -11.44%, rgba(255, 121, 218, 0.9) 123.93%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

/*** Order button ******/
.btn-order {
  width: 186px;
  height: 50px;
}

/*** reservation button *****/
.btn__reservation {
  width: 218px;
  height: 50px;
}

/*** base card *****/
.card {
  display: flex;
  align-items: center;
  margin: auto;
  background-color: white;
  border-radius: 20px;
  width: 90%;
}
.card img {
  width: 100%;
  height: 100%;
}

/*** card for the restaurants menus *****/
.card-dish {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  width: 100%;
  height: 69px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in 0s;
  /*** animations dish cards for menus *****/
  opacity: 0;
  overflow: hidden;
  animation: fadeIn linear 1s;
  animation-fill-mode: forwards;
  /**** animation for the fade in *****/
  /**** rest of the card *****/
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.card-dish .price p {
  position: relative;
  margin-bottom: -20px;
}
.card-dish .card-dish-content {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-direction: column;
  white-space: nowrap;
  width: 70%;
  padding: 17px 0px 17px 15px;
  gap: 5px;
}
.card-dish .card-dish-content h3, .card-dish .card-dish-content p {
  margin: 0px 0px;
}
.card-dish .dish-check {
  transition: 100ms ease;
  visibility: hidden;
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.card-dish .check {
  overflow: hidden;
  display: block;
  position: relative;
  border-radius: 50%;
  text-align: center;
  width: 18px;
  height: 17px;
  padding: 5px;
  background-color: white;
  color: #99E2D0;
}
.card-dish .check-box {
  position: relative;
  transition: 0.5s ease;
  height: 100%;
  width: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0px 15px 15px 0px;
}
.card-dish .selection {
  transition: all 400ms ease 0s;
  position: relative;
  overflow: hidden;
  width: 25%;
  right: -15%;
  white-space: nowrap;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 9px;
}

/*** Childrens for the fade in animations *****/
.card-dish:nth-child(2) {
  animation-delay: 200ms;
}

.card-dish:nth-child(3) {
  animation-delay: 400ms;
}

.card-dish:nth-child(4) {
  animation-delay: 600ms;
}

/*** selection hover animation *****/
.card-dish:hover .card-dish {
  padding-right: 0px;
}
.card-dish:hover .content {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 230px;
}
.card-dish:hover .check {
  overflow: hidden;
}
.card-dish:hover .check-box {
  overflow: hidden;
  visibility: visible;
  position: relative;
  right: 0px;
}
.card-dish:hover .price p {
  position: relative;
  right: 0px;
}
.card-dish:hover .selection {
  right: 0px;
}

/*** card for the index functions explanations *****/
.card__function {
  display: flex;
  width: 80%;
  height: 70px;
  gap: 9%;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.card__function .number {
  position: relative;
  left: -16px;
  border-radius: 50%;
  text-align: center;
  width: 18px;
  height: 17px;
  padding: 5px;
  background-color: #9356DC;
  color: white;
  margin-right: -22px;
}

.card__function:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}
.card__function:hover .fa-mobile-screen-button, .card__function:hover .fa-list-ul, .card__function:hover .fa-store {
  color: #9356DC;
}

/*** card for main page restaurants selection *****/
.card__restaurant {
  height: 251px;
  flex-direction: column;
  padding: 0px;
}
.card__restaurant .new-menu {
  position: relative;
  left: 36%;
  bottom: 54%;
  margin-top: -28px;
  width: 80px;
  height: 29px;
  text-align: center;
  vertical-align: middle;
  line-height: 29px;
  background-color: #99E2D0;
  color: #008766;
}
.card__restaurant .new-menu p {
  margin: 0px;
}
.card__restaurant .restaurants-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 25%;
}
.card__restaurant .restaurants-content .card-txt .card-title {
  margin-bottom: 4px;
}
.card__restaurant .restaurants-content .card-txt .card-subtitle {
  margin-top: 4px;
}
.card__restaurant .restaurants-content .heart {
  height: 25px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%) bottom, white;
  /*** change the color of the heart by replacing the grey by the linear color from the bottom *****/
  transition: background-size 0.5s ease-in;
  background-size: 100% 0%;
  background-repeat: no-repeat;
}
.card__restaurant .restaurants-content .heart:hover {
  background-size: 100% 100%;
}
.card__restaurant .border-round {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 75%;
}

@media (min-width: 768px) {
  .card__restaurant {
    width: 40%;
  }
  .card-dish .selection {
    justify-content: space-between;
    width: 20%;
    right: -10%;
    gap: 12px;
  }
  .card-dish:hover .content {
    width: 400px;
  }
}
/*** Colors *****/
/*** fonts *****/
/*** Loader css *****/
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.loader .spinner {
  width: 4rem;
  height: 4rem;
  border: 0.5rem solid #ccc;
  border-top-color: #9356DC;
  border-radius: 50%;
  /*** animations for the spinner and fade-in of the main-container *****/
  animation-name: spin, fade-out;
  animation-direction: linear, ease-out;
  animation-duration: 1s, 1s;
  animation-delay: 0s, 2s;
  animation-iteration-count: infinite, 1;
  animation-fill-mode: forwards;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
/*** general *****/
body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  width: 100%;
}

.main-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: auto;
  /*** fade-in animation *****/
  opacity: 0;
  visibility: hidden;
  animation-fill-mode: forwards;
  animation-direction: ease-in;
  animation-name: fade-in;
  animation-duration: 3s;
  animation-delay: 2s;
}

/*** Keyframes for animations *****/
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
/*** generals rules *****/
img {
  -o-object-fit: cover;
     object-fit: cover;
}

.fa-heart {
  color: rgba(0, 0, 0, 0);
  text-shadow: 0px 0px 0 white, 0px -1px 0 #000, 0px 1px 0 #000, 1px 0px 0 #000, -1px 0px 0 #000;
}

/*** Header *****/
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 0.1);
  position: relative;
}
.navbar .arrow {
  position: absolute;
  font-size: 20px;
  top: 29px;
  left: 30px;
}
.navbar .logo img {
  height: 40px;
  padding-top: 17px;
  padding-bottom: 13px;
}

/*** Index location finder *****/
.location {
  background-color: #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: center;
}
.location .content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
  gap: 15px;
}

/*** Index Reservation part  *****/
.reservation {
  background-color: #F3F3F3;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
}

.reservation-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  text-align: center;
  flex-direction: column;
  width: 85%;
  margin: auto;
  gap: 25px;
}

.reservation h2 {
  font-weight: bold;
  font-size: 24px;
  margin: 0px;
}

.reservation p {
  font-size: 18px;
  margin: 0px;
}

/*** Index Functions *****/
.function {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 30px;
  flex-direction: column;
  min-width: 100%;
}

.function-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.function-title {
  padding-right: 45%;
}

/*** Index Restaurants *****/
.img-background {
  width: 100vw;
}
.img-background img {
  width: 100vw;
  background-size: cover;
  background-position: center;
}

.restaurants {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #F3F3F3;
  flex-direction: column;
}
.restaurants .restaurants-selection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.restaurants-title {
  padding-right: 50%;
}

/*** Specific restaurant menu *****/
.restaurant-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.restaurant-menu .restaurant-designation h1 {
  font-family: "Shrikhand", cursive;
  font-style: italic;
  font-weight: 400;
  font-size: 38px;
}

.restaurant-name {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background-color: #F3F3F3;
  margin: -60px auto auto auto;
  padding-top: 15px;
  height: 64px;
  position: relative;
  border-radius: 26px 26px 0px 0px;
}
.restaurant-name .heart-grading {
  height: 21px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%) bottom, #F3F3F3;
  transition: background-size 0.5s ease-in;
  background-size: 100% 0%;
  background-repeat: no-repeat;
}
.restaurant-name .heart-grading:hover {
  background-size: 100% 100%;
}

/*** Restaurants menu lists *****/
.menu-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #F3F3F3;
  width: 100%;
  gap: 15px;
  padding-bottom: 15px;
}
.menu-items .list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 5px;
  width: 90%;
  gap: 15px;
}
.menu-items .list .items-txt {
  padding-right: 85%;
}
.menu-items .list .items-txt p {
  padding-bottom: 5px;
  margin-bottom: 0px;
  width: 40px;
  border-bottom: 1px solid #99E2D0;
  border-bottom-width: 3px;
}

/*** Footer *****/
footer {
  background-color: #353535;
  color: white;
  width: 100%;
  padding: 25px 0px 25px 20px;
}
footer .main-footer {
  width: 100%;
}
footer .footer-logo {
  width: 140px;
  padding-bottom: 25px;
}
footer .footer-logo img {
  width: 100%;
  filter: invert(1);
}

.footer_links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer_links .bold {
  width: 100%;
  font-weight: bold;
  padding-left: 5px;
}

@media screen and (min-width: 769px) {
  /*** Reservation section *****/
  .reservation-content {
    flex-wrap: nowrap;
  }
  /*** Function section *****/
  .function-title {
    padding-right: 58%;
  }
  .function-cards {
    flex-direction: row;
    width: 65%;
    gap: 5%;
    padding: 15px;
  }
  /*** Restaurants section *****/
  .restaurants .restaurants-title {
    padding-right: 62%;
  }
  .restaurants .restaurants-selection {
    width: 80%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  /*** Footer section *****/
  a {
    width: auto;
  }
  .main-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    height: 120px;
    gap: 5%;
  }
  .main-footer .footer-logo {
    order: 2;
    padding-bottom: 0px;
    padding-right: 32px;
  }
  .main-footer .footer_links {
    order: 1;
    flex-direction: row;
  }
  /*** Restaurant menus list ******/
  .menu-items {
    width: 70%;
  }
  .menu-items .list {
    width: 60%;
  }
  .restaurant-name {
    width: 70% !important;
  }
  .img-background img {
    width: 100vw;
    height: 500px;
    background-size: contain;
    background-position: center;
  }
}/*# sourceMappingURL=style.css.map */